header{
    background: #f5b70e;
    background-size: cover;
    padding:  10px;
}
.cb{
    position: relative;
     width: 940px;
     margin: 0 auto;
}
nav{
    position: absolute;
    top: 90px;
    right: 0;
}
nav li{
    display: inline;
    margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    color: white;
    transition: 1s;
}
nav a:hover{
    color: red;
    cursor: pointer;
    
}
.lojas-delivery{
width: 940px;
margin: 0 auto;

}

.lojas-delivery li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;

}
.lojas-delivery img{
    max-width:250px;
    max-height:150px;
    width: auto;
    height: auto;
    border-radius: 50px;
}
.lojas-delivery h2{
   display: none;
}
footer{
    text-align: center;
    background:#f5b70e;
    padding:20px 0px ;
}
.copyright{
    font-size: 15px;
    margin: 20px;
}